<div>
	<%= @event.title %> <br>
	Date : <%= @event.start_date %> <br>
	Durée : <%= @event.duration %> <br>
	Lieu <%= @event.location %> <br>
	Description : <%= @event.description %> <br>
	Tarif : <%= @event.price %> <br>
</div>

